#root {
    font-family: "Inter-Medium", sans-serif;
}

#root * {
    box-sizing: border-box;
}

.messenger-wraper {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
}

.messenger-wraper h2 {
    font-size: 20px;
}

.messenger-wraper .user-search-wrapper {
    border-radius: 10px;
    background: transparent;
}

.messenger-wraper .navbar-chat {
    padding: 16px 24px;
    background-color: transparent;
    color: #1E2B3E;
    font-size: 16px;
    line-height: 20px;
    border-radius: 0;
    border-top: 0;
    border-bottom: 1px solid #E3EBF9;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.messenger-wraper .navbar-chat .navbar-chat-user-info, .messenger-wraper .navbar-chat .navbar-chat-user-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}

.navbar-chat-user-actions-dropdown {
    position: relative;
}

.messenger-wraper .navbar-chat .dropdown-menu {
    background: #fff;
    padding: 5px;
    position: absolute;
    display: block;
    transform: translateY(100%);
    bottom: 0;
    right: 0;
    z-index: 9;
}

.messenger-wraper .navbar-chat .dropdown-menu a {
    display: block;
    width: 100%;
}

.messenger-wraper .container {
    background: transparent;
}

.messenger-wraper-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.messenger-wraper-head h2 {
    color: #1E2B3E;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.messenger-wraper-head span {
    font-size: 16px;
    color: #92A3BC;
}

/* CHATS PANEL */

.chats-panel.panel--active {
    min-width: unset;
    border-right: 1px solid #e3ebf9;
}

.chats-panel.panel--active .sender-chat {
    padding: 10px;
}

.chats-panel.panel--active .sender-chat .container-image-and-online {
    margin: 0;
}

.chats-panel {
    background-color: #fff;
    width: auto;
    height: auto;
    margin: 0;
    min-width: 300px;
}

.chats-panel.panel--inactive {
    width: 100%;
}

.user-search-wrapper {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    background: transparent;
    margin-bottom: 20px;
}

.user-search-wrapper input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 20px;
    border: 1px solid #E3EBF9;
    color: #1E2B3E;
}

textarea::placeholder {
    color: #1E2B3E;
    opacity: 50%;
}

ul.user-search-list {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 99;
    background: #fff;
    padding: 0;
    margin: 0;
}

ul.user-search-list li.user-search-list-item {
    color: #1E2B3E;
    cursor: pointer;
    padding: 5px 10px;
}

span.remove-chat {
    position: absolute;
    right: 5px;
    bottom: 8px;
    font-size: 10px;
    line-height: 1;
    background: red;
    color: #fff;
    font-weight: bold;
    width: 10px;
    text-align: center;
    height: 10px;
    border-radius: 10px;
    padding: 2px;
    display: none;
}

.sender-chat.selected span.remove-chat {
    display: block;
}

.chats {
    height: calc(100vh - 190px);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chats-panel ::-webkit-scrollbar {
    width: 5px;
}

.chats-panel ::-webkit-scrollbar-thumb {
    background: #34606d;
    border-radius: 5px;
}

.sender-chat.empty-chat {
    display: none;
}

.sender-chat.selected.empty-chat {
    display: flex;
    align-items: center;
}

span.container-message-count {
    font-size: 12px;
    background: #00B066;
    color: #fff;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    line-height: 1;
}

.container-image-and-online {
    position: relative;
    height: auto;
    line-height: 0;
}

.container-image-and-online .online {
    background-color: #00B066;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 0;
    border: 3px solid #fff;
    box-sizing: content-box;
}

.container-image-and-online .offline {
    display: none;
}

.sender-chat, .sender-chat-clicked {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid #E3EBF9;
    padding: 10px;
    font-size: 16px;
    color: #000;
    position: relative;
    gap: 10px;
}

.container-user-chat-content {
    flex-grow: 1;
}

.sender-chat .sender-chat-name {
    color: #1E2B3E;
    font-size: 14px;
    line-height: 16px;
    display: block;
}

.sender-content {
    font-size: 12px;
    color: #92A3BC;
    line-height: 16px;
    font-weight: normal;
    margin: 0;
}

.selected,
.sender-chat:hover {
    background-color: honeydew; /* hover */
}

.selected,
.selected:hover {
    background-color: honeydew; /* click */
}

/* CHAT */

.container {
    width: 100%;
    margin: 0;
    background-color: #51535e44;
    padding: 0;
    color: #fff;
}

.screen {
    overflow-x: hidden;
    height: 500px;
    background: #fff;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0 24px 24px 24px;
}

.screen > div {
    position: relative;
}

.container ::-webkit-scrollbar {
    width: 5px;
}

.container ::-webkit-scrollbar-thumb {
    background: rgba(252, 252, 252, 0.15);
    border-radius: 5px;
}

.chat-form {
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: none;
    border-top: 1px solid #E3EBF9;
    flex-direction: column;
    gap: 16px;
}

.input-chat {
    width: 100%;
    padding: 16px;
    outline: none;
    background-color: transparent;
    border-radius: 12px;
    color: #1E2B3E;
    font-size: 16px;
    border: 1px solid #D7E2F2;
    box-sizing: border-box;
    font-family: inherit;
    line-height: 24px;
}

.button-chat {
    background-color: #00b066;
    border: none;
    padding: 10px 10px;
    margin: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    display: block;
    width: 100%;
}

.message-left, .message-right {
    align-items: center;
}

.message-left {
    max-width: 50%;
    float: left;
    margin: 6px 50% 6px 0;
    background-color: transparent;
    padding: 0;
    border-radius: 10px 10px 10px 0;
    word-wrap: break-word;
    font-size: 18px;
    color: #1E2B3E;
    display: flex;
    width: 100%;
}

.message-right {
    max-width: 50%;
    float: right;
    margin: 6px 0 6px 50%;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    word-wrap: break-word;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.message-content {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 20px;
    margin: 0;
    color: #1E2B3E;
}

.message-left .message-content {
    background: #F3F8FF;
    width: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.message-right .message-content {
    background: rgba(0, 176, 102, 0.05);
    width: auto;
    text-align: left;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: 12px;
}

.message-sender {
    color: grey;
    font-weight: normal;
    font-size: 14px;
}

.message-hour {
    color: grey;
    font-weight: normal;
    font-size: 14px;
    float: right;
    margin-left: 8px;
    flex-shrink: 0;
}

.message-read {
    line-height: 0;
}

/* NOT FOUND */

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
}