body {
  font-family: "Inter-Medium", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 415px;
  gap: 20px;
}

.navbar {
  position: absolute;
  top: 100px;
  width: 100vw;
  padding: 20px;
  background-color: #34606d;
  min-width: 415px;
}

.navbar h2 {
  margin: 0;
}

/* ERRORS */

.container-span {
  color: red;
}

.error {
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px;
}


/* CHATS PANEL */

.chats-panel {
  background-color: #fff;
  width: auto;
  height: auto;
  margin: 0;
  min-width: 300px;
}

.user-search-wrapper {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 15px 10px;
  background: #34606d;
}

.user-search-wrapper input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  padding: 4px;
  border: 0;
  border-radius: 3px;
}

ul.user-search-list {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 99;
  background: #34606d;
  padding: 0;
  margin: 0;
}

ul.user-search-list li.user-search-list-item {
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
}

span.remove-chat {
  position: absolute;
  right: 5px;
  bottom: 8px;
  font-size: 10px;
  line-height: 1;
  background: red;
  color: #fff;
  font-weight: bold;
  width: 10px;
  text-align: center;
  height: 10px;
  border-radius: 10px;
  padding: 2px;
  display: none;
}

.sender-chat.selected span.remove-chat {
  display: block;
}

.chats-navbar {
  position: relative;
  background-color: #34606d;
  padding: 15px;
  font-weight: bold;
  font-size: 22px;
}

.chats {
  height: calc(100vh - 190px);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chats-panel ::-webkit-scrollbar {
  width: 5px;
}

.chats-panel ::-webkit-scrollbar-thumb {
  background: #34606d;
  border-radius: 5px;
}

.sender-chat.empty-chat {
  display: none;
}

.sender-chat.selected.empty-chat {
  display: block;
}
.sender-chat:has(.empty-chat___).selected {
  display: block;
}
.sender-chat:has(.empty-chat___) {
  display: none;
}

.container-message-count {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.container-image-and-online {
  position: absolute;
  height: auto;
  bottom: 10px;
  left: 10px;
}

.online {
  background-color: greenyellow;
  position: relative;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 0;
}

.sender-chat,
.sender-chat-clicked {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid gray;
  padding: 5px 15px 5px 10px;
  font-size: 16px;
  color: #000;
  position: relative;
}

.sender-content {
  font-size: 12px;
  color: grey;
  font-weight: normal;
  margin: 5px 0;
}

.selected,
.sender-chat:hover {
  background-color: honeydew; /* hover */
}

.selected,
.selected:hover {
  background-color: honeydew; /* click */
}

.container-user-chat-content {
  width: 100%;
  margin-top: 10px;
}

.container-user-chat-none-content {
  margin: 20px 0 29px 0;
}

.last-message-hour {
  color: grey;
  font-size: 14px;
  transform: translateY(-50px);
  float: right;
  margin-left: 8px;
}

/* CHAT NONE */

.container-none {
  min-width: 380px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 815px;
  margin: 0;
  color: #000;
  padding: 0;
}

/* CHAT */

.navbar-chat {
  padding: 15px;
  background-color: #34606d;
  font-weight: bold;
  font-size: 22px;
}

.navbar-chat-with-members {
  position: relative;
  padding: 20px 20px 30px 20px;
  background-color: rgba(83, 83, 83, 0.301);
  font-weight: bold;
  font-size: 22px;
}

.container-members {
  min-width: 100%;
  position: absolute;
  margin-left: 20px;
  transform: translateY(-28px);
}

.container {
  width: 100%;
  min-width: 380px;
  margin: 0;
  background-color: #51535e44;
  padding: 0;
}

.screen {
  overflow-x: hidden;
  height: calc(100vh - 270px);
  background: #fff;
  padding: 20px 15px 0 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.screen>div {
  position: relative;
}

.message__read .message-status {
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  background: greenyellow;
  border-radius: 10px;
  right: 5px;
  top: 5px;
}

.container ::-webkit-scrollbar {
  width: 5px;
}

.container ::-webkit-scrollbar-thumb {
  background: rgba(252, 252, 252, 0.15);
  border-radius: 5px;
}

.chat-form {
  padding: 15px 18px 15px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid;
}

.input-chat {
  width: 80%;
  padding: 12px;
  outline: none;
  border: none;
  background-color: rgba(102, 102, 102, 0.301);
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.button-chat {
  background-color: #34606d;
  border: none;
  padding: 12px 15px;
  font-weight: bold;
  margin: 0 0 0 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.button-chat:hover {
  background-color: #1b82a1;
}

.right {
  max-width: 85%;
  float: right;
  margin: 10px 0px;
  margin-left: 50%;
  background-color: #34606d;
  padding: 10px;
  border-radius: 10px 10px 0px 10px;
  word-wrap: break-word;
  font-size: 18px;
}

.left {
  max-width: 85%;
  float: left;
  margin: 10px 0px;
  margin-right: 50%;
  background-color: rgba(83, 83, 83, 0.301);
  padding: 10px;
  border-radius: 10px 10px 10px 0px;
  word-wrap: break-word;
  font-size: 18px;
}

.sender {
  color: grey;
  font-weight: normal;
  font-size: 14px;
}

.content {
  margin: 0;
  margin-top: 5px;
}

.hour {
  color: grey;
  font-weight: normal;
  font-size: 14px;
  transform: translateY(4px);
  float: right;
  margin-left: 8px;
}

/* NOT FOUND */

.not-found {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
}